{% extends 'base.html' %}
{% block title %}<title> YOUR TOPICS </title>{% endblock %}

{% block content %}


    <div class="mx-auto" style="width: 600px;">

<h3 align="center">TOPICS YOU HAVE CREATED</h3>


        <div>

            {% for topic in topics %}
                <div class="list-group">

                <ul>
                    <a href="{% url 'show_topic' topic.id %}"class="list-group-item"> {{ topic.name }}
                        <form action="{% url 'delete_topic' topic.id %}" method="post"style="float: right; margin: 5px">
                            {% csrf_token %}
                            <input type="submit" value="delete topic"/>
                        </form>
                    </a>
                </ul>
                </div>

            {% endfor %}

        </div>

    </div>
{% endblock %}
