{% extends 'base.html' %}
{% block title %}<title> ALL TOPICS </title>{% endblock %}

{% block content %}

    <div class="mx-auto" style="width: 600px;">

  <h3 align="center"> ALL THE TOPICS AVAILABLE </h3>

          <div>
            {% for topic in all_topics %}
                <div class="list-group">
                <ul>
                     <a href="{% url 'show_topic' topic.id %}" class="list-group-item"> {{ topic.name}}
                         {% if topic.id in subscribed_topic_ids %}

                         {% else %}
                             <form action="{% url 'subscribe_topic' topic.id %}" method="post"style="float: right; margin: 5px">
                                {% csrf_token %}
                                <input type="submit" value="Subscribe"/>
                            </form>
                         {% endif %}
                    </a>
                </ul>
                 </div>

            {% endfor %}

        </div>

    </div>
{% endblock %}


