{% extends 'base.html' %}
{% block title %}<title> CREATE TOPIC </title>{% endblock %}

{% block content %}

<div class="mx-auto" style="width: 200px;">
        <h1>New topic</h1>

        <div>
            <form action="{% url 'new_topic' %}" method="post">
                {% csrf_token %}
            <div class="field">
                {{ form.name.errors }}
                {{ form.name }}
            </div>
            <div class="field">
                {{ form.description.errors }}
                {{ form.description }}
            </div>

                <input type="submit" value="SAVE" />
            </form>
        </div>
</div>


{% endblock %}