{% extends 'base.html' %}
{% block title %}<title> TOPIC DETAILS </title>{% endblock %}





{% block content %}




<div class="mx-auto" style="width: 700px;">



  <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action-secondary">
    Topic Title: {{ topic.name }}<br />Description: {{ topic.description }}<br/> Created By: {{topic.user.first_name}} {{topic.user.last_name}}
  </a>

      {% for c in comments %}

           <a href="#" class="list-group-item list-group-item-action">{{ c.get_comment }}<br/>
               <small>Commented By: {{ c.user.first_name }} {{ c.user.last_name }} <br/>
                   {{ c.created_at }}</small>


                    <form action="{% url 'delete_comment' c.id %}" method="post"style="float: right; margin: 5px">{% csrf_token %}
                    <input type="submit" value="delete"/>

                    </form>
           </a>

      {% endfor %}







        <form method="post" , action="{% url 'new_comment' %}">
            {% csrf_token %}

            <div>
                {{ comment_form.topic_id }}
            </div>

            <div>
                {{ comment_form.comment.errors }}
                {{ comment_form.comment }}
            </div>

            <div class="input-group">

            <input type="submit" name="comment_btn" value="Add Comment"/>
            <input type="submit" name="tweet_btn" value="Add Comment + Tweet"/>
        </form>
    </div>

</div>




</div>

{% endblock %}